<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico?">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/skeleton/stylesheets/combined.css"/>
	<title>{{ page.title }} - {{ site.name }}</title>
	<meta name="application-name" content="{{ site.name }}"/>
	<meta name="description" content="Aditya Relangi's blog"/>
</head>
<body>
	<div class="header">
		<div class="container">
			<a href="{{ site.url }}">Website</a>
			<a href="{{ site.url }}/blog">Blog</a>
		</div>
	</div>